.slide1, .slide2, .slide3, .slide4, .slide4a, .slide5, .slide6, .slide6a, .slide7, .slide8, .slide8a, .slide9, .slide10, .slide10a, .slide11, .slide12, .slide13, .slide14, .slide15, .slide16 {
	min-height: 300px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center bottom;
}
.slide1 {
	background-image: url('http://jamesrco.github.io/images/banner/1.jpg');
}
.slide2 {
	background-image: url('http://jamesrco.github.io/images/banner/2.jpg');
}
.slide3 {
	background-image: url('http://jamesrco.github.io/images/banner/3.jpg');
}
.slide4 {
	background-image: url('http://jamesrco.github.io/images/banner/4.jpg');
}
.slide4a {
	background-image: url('http://jamesrco.github.io/images/banner/4a.jpg');
}
.slide5 {
	background-image: url('http://jamesrco.github.io/images/banner/5.jpg');
}
.slide6 {
	background-image: url('http://jamesrco.github.io/images/banner/6.jpg');
}
.slide6a {
	background-image: url('http://jamesrco.github.io/images/banner/6a.jpg');
}
.slide7 {
	background-image: url('http://jamesrco.github.io/images/banner/7.jpg');
}
.slide8 {
	background-image: url('http://jamesrco.github.io/images/banner/8.jpg');
}
.slide8a {
	background-image: url('http://jamesrco.github.io/images/banner/8a.jpg');
}
.slide9 {
	background-image: url('http://jamesrco.github.io/images/banner/9.jpg');
}
.slide10 {
	background-image: url('http://jamesrco.github.io/images/banner/10.jpg');
}
.slide10a {
	background-image: url('http://jamesrco.github.io/images/banner/10a.jpg');
}
.slide11 {
	background-image: url('http://jamesrco.github.io/images/banner/11.jpg');
}
.slide12 {
	background-image: url('http://jamesrco.github.io/images/banner/12.jpg');
}
.slide13 {
	background-image: url('http://jamesrco.github.io/images/banner/13.jpg');
}
.slide14 {
	background-image: url('http://jamesrco.github.io/images/banner/14.jpg');
}
.slide15 {
	background-image: url('http://jamesrco.github.io/images/banner/15.jpg');
}
.slide16 {
	background-image: url('http://jamesrco.github.io/images/banner/16.jpg');
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: .5;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
	left: 0;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
.carousel-overlay h1 {
    font-size: 2.5em;
}
.carousel-overlay h3 {
    font-size: 1.5em;
}
@media (min-width: 600px) {
    .carousel-overlay h1 {
        font-size: 3.5em;
    }
    .carousel-overlay h3 {
        font-size: 2.0em;
    }

}
.slide-wrapper {
    position: relative
}
/* Profile image */
.prophoto-img {
	border-radius: 0%;
	background-color:white;
	float:right;
	width: 200px;
	padding: 0px 0px 10px 20px;
}
@media (min-width: 475px) { 
    .prophoto-img {
		width: 300px;
    }
}
/* Small image */
.small-inline-img {
	border-radius: 0%;
	background-color:white;
	float:left;
	width: 200px;
	padding: 20px 20px 20px 0px;
}
@media (min-width: 475px) { 
    .small-inline-img {
		width: 200px;
    }
}